<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bizarre Bazaar Cart</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/4818a6b19c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
    <script src='/static/js/dataHandler.js' defer></script>
    <script src='/static/js/main.js' defer></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div class="jumbotron text-center">
    <h1>Bizarre Bazaar</h1>
    <br>
    <h3>Your cart's content:</h3>
</div>

<div class="container">
    <div class="cart-content-exists" th:if="${isItemInCart==true}">
        <table style="width:100%">
            <tr>
                <th class="center">Product image</th>
                <th>Product name</th>
                <th class="center">Quantity</th>
                <th class="center">Price</th>
                <th class="center">Change quantity</th>
                <th class="center">Delete all</th>
            </tr>
            <tr class="lineItem" th:each="lineitem,iterStat : ${lineitems}">
                <td class="center"><img class="order-image" th:attr="src='/static/img/product_' + ${lineitem.getKey().getId()} + '.jpg'" alt=""></td>
                <td th:text="${lineitem.getKey().getName()}"></td>
                <td class="center" th:text="${lineitem.getValue()}"></td>
                <td class="center"><span th:text="${#numbers.formatDecimal(lineitem.getKey().getDefaultPrice()*lineitem.getValue(), 0, 'COMMA', 2, 'POINT')}"></span> <span th:text="${lineitem.getKey().getDefaultCurrency()}"></span></td>
                <td class="center"><i class="fas fa-minus-square" style="font-size:24px"></i>  <i class="fas fa-plus-square" style="font-size:24px"></i></td>
                <td class="center"><i class="fa fa-trash-o" style="font-size:24px"></i></td>
            </tr>
            <tr>
                <td class="total">Total price</td>
                <td></td>
                <td></td>
                <td class="total" th:text="${totalPrice}"></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <div>
            <a id="checkout-button" th:href="${checkoutUrl}"> Proceed to checkout</a>
            <br><br>
        </div>

    </div>
    <div id="no-cart-content" th:if="${isItemInCart==false}">
        <i id="cart-icon"class="fas fa-shopping-cart"></i>
        <p>There are no products in your cart yet.</p>
    </div>
</div>

<div th:replace="footer.html :: copy"></div>
</body>
</html>